.footer {
  position: relative;
  width: 100%;
  background: #000D12;
  padding: 140px 80px 36px;
  overflow: hidden;
  box-sizing: border-box;
}

/* =====================
   GLOWS
===================== */

.footer-bottom-glow {
  position: absolute;
  bottom: -250px;
  left: 0;
  width: 100%;
  height: 557px;
  opacity: 0.1;
  background: linear-gradient(
    103.43deg,
    #00B4FD -1.02%,
    #003ACE 83.53%
  );

  filter: blur(200px);
  z-index: 0;
}

/* =====================
   CONTENT
===================== */

.footer-content {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* =====================
   BRAND
===================== */

.footer-brand {
  width: 440px;
  height: 232px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 100%;
  height: 100%;

  object-fit: contain;
  display: block;
}

/* =====================
   COLUMNS
===================== */

.footer-columns {
  width: 816px;

  display: flex;
  justify-content: space-between;

  gap: 34px;
}

.footer-column {
  width: 268px;

  display: flex;
  flex-direction: column;
  text-align: left;
}

/* =====================
   ADDRESS
===================== */

.footer-address {
 height: 120px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-address h4 {
  margin: 0;
  color: #E9F4F9;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}

.footer-address p {
  margin: 0;
  color: rgba(233,244,249,.75);
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
}

/* =====================
   LINKS
===================== */

.footer-links {
  width: 170px;
  display: flex;
  flex-direction: column;
  padding-top: 103px;
  gap: 16px;
}
.footer-links h4 {
  margin: 0 0 10px;
  color: #E9F4F9;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}

.footer-links a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgba(233,244,249,.8);

  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  transition: all 0.3s ease;
}

.footer-links a svg {
  color: #00B4FD;
  transition: transform 0.3s ease;
}

.footer-links a:hover {
  color: #00B4FD;
}

.footer-links a:hover svg {
  transform: translateX(5px);
}

/* =====================
   COPYRIGHT
===================== */

.footer-copyright {
  position: relative;
  z-index: 2;

  margin-top: 80px;

  max-width: 800px;

  color: rgba(233,244,249,.45);

  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  text-align: left;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* =====================
   RESPONSIVE
===================== */

@media (max-width: 1200px) {
  .footer-content {
    flex-direction: column;
    gap: 80px;
  }

  .footer-columns {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 80px 24px;
  }

  .footer-columns {
    flex-direction: column;
  }

  .footer-column {
    width: 100%;
    gap: 50px;
  }
}